<ion-view title="Dashboard">
<ion-header-bar align-title="center" class="bar-css">
  <h1 class="title">我的购物车</h1>
</ion-header-bar>
  <ion-content >
   <div>
		<ul>
			<li class="cartli">
				<span class="leftcheckbox"></span>
				<img src="lib/img/cartprod.png"/>
				<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
				<p class="cartpagetatal">￥2888.0</p>
				<p class="cartpagetatal">数量   <a class="reduceBtu"> </a><a class="midBtu">1 </a><a class="addBtn"></a>
			  </p>	
			</li>
			<li class="cartli">
				<span class="leftcheckbox"></span>
				<img src="lib/img/cartprod.png"/>
				<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
				<p class="cartpagetatal">￥2888.0</p>
				<p class="cartpagetatal">数量   <a class="reduceBtu"> </a><a class="midBtu">1 </a><a class="addBtn"></a></p>
			</li>
		</ul>
	</div>	
  </ion-content>
</ion-view>