<ion-view title="Dashboard">
<ion-header-bar class="bar-css">
  <div class="buttons">
    <a class="button button-clear ion-ios7-arrow-back" ng-href="#/tab/person"></a>
  </div>
<h1 class="title">登录</h1>
</ion-header-bar>
  <ion-content class="padding">
                <div class="registerpage">
            			<ul>
            				<div class="registerTitle">
            					<p>登录</p>
            				</div>
                    <form name="loginform">
            				<li><input type="email" placeholder=" 用户名/邮箱" ng-model="login.name" name="loginname" required></li>
            				<li><input type="text" placeholder=" 密码" ng-model="login.password" ng-maxlength="6" ng-minlength="1" name="loginpsw" required></li>
            			</ul>
            			<button ng-click="loginBtnPre(loginform.$dirty,loginform.loginname.$valid,loginform.loginpsw.$valid)">登录</button>
                  </form>
            			<div class="registerInfo">
            				<a>忘记密码了？</a>
            			</div>
            		</div>
                <!-- 可以通过下面的方法来验证表单是否正确 -->
<!--                 <p> your form is change===={{loginform.$dirty}}</p>
                <p> your name is ok===={{loginform.loginname.$valid}}</p>
                <p> your password is ok===={{loginform.loginpsw.$valid}}</p> -->
  </ion-content>
</ion-view>