<ion-view title="Dashboard">
<ion-header-bar align-title="center" class="bar-css">
    <div class="buttons">
    <a class="button button-clear ion-ios7-arrow-back" ng-href="#/tab/person"></a>
  </div>
  <h1 class="title">我的购物车</h1>
    <div class="buttons">
    <a class="button button-clear" style="color:#fff;" ng-href="#/mycartchange">编辑</a>
  </div>
</ion-header-bar>
  <ion-content >
					<div>
					<ul>
						<li class="cartli">
							<span class="leftcheckbox"></span>
							<img src="lib/img/cartprod.png"/>
							<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
							<p>￥2888.0</p>
							<p>数量：1<span class="pricecolor">小计：￥2888.0</span></p>
						</li>
						<li class="cartli">
							<span class="leftcheckbox"></span>
							<img src="lib/img/cartprod.png"/>
							<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
							<p>￥2888.0</p>
							<p>数量：1<span class="pricecolor">小计：￥2888.0</span></p>
						</li>
					</ul>
				</div>
  </ion-content>
  <ion-footer-bar>
              <div class="cartfootclass">
                <span class="checkboxfoot"></span>
                <span class="orgincolor">总计 <span class="orgincolor fontsize">￥8888.0</span></span> 
                <button class="footerBtu ziBGcolor floatright">结算</button>   
            </div> 
  </ion-footer-bar>
</ion-view>