<ion-view title="Dashboard">
<ion-header-bar align-title="center" class="bar-css">
    <div class="buttons">
    <a class="button button-clear ion-ios7-arrow-back" ui-sref="mycart"></a>
  </div>
  <h1 class="title">我的购物车</h1>
    <div class="buttons">
  </div>
</ion-header-bar>
  <ion-content >
   <div>
		<ul>
			<li class="cartli">
				<span class="leftcheckbox"></span>
				<img src="lib/img/cartprod.png"/>
				<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
				<p class="cartpagetatal">￥2888.0</p>
				<p class="cartpagetatal">数量   <a class="reduceBtu"> </a><a class="midBtu">1 </a><a class="addBtn"></a>
			  </p>	
			</li>
			<li class="cartli">
				<span class="leftcheckbox"></span>
				<img src="lib/img/cartprod.png"/>
				<h2>迷你胶囊咖啡机 ICUP 8899 红色</h2>
				<p class="cartpagetatal">￥2888.0</p>
				<p class="cartpagetatal">数量   <a class="reduceBtu"> </a><a class="midBtu">1 </a><a class="addBtn"></a></p>
			</li>
		</ul>
	</div>	

  </ion-content>
  <ion-footer-bar>
      <div class="cartfootclass">
        <span class="checkboxfoot"></span>
        <span class="orgincolor">选择了一件商品</span> 
        <button class="footerBtu orginBGcolor floatright">删除</button>   
    </div>   
  </ion-header-bar>
</ion-view>