<ion-view >
<ion-header-bar align-title="center" class="bar-css">
  <h1 class="title">个人中心</h1>
</ion-header-bar>
  <ion-content >
   <div class="centerbanner"></div>
                  <div>
                  	<ul class="certenul">
                  		<li>
                  			<a ui-sref="tab.person.order">我的订单</a>
                  		</li>                  		
                  		<li>
                  			<a ui-sref="tab.person.register">我的购物车</a>
                  		</li>                  		
                  		<li>
                  			<a ui-sref="tab.person.login">我的资料</a>
                  		</li>                  		
                  		<li>
                  			<a ui-sref="tab.person.forgetpsw">修改密码</a>
                  		</li>                  		
                  		<li>
                  			<a ui-sref="tab.person.bindstore">店铺绑定</a>
                  		</li>
                  	</ul>
                  </div>
  </ion-content>
</ion-view>