<ion-view>
<ion-header-bar align-title="center" class="bar-css">
  <div class="buttons">
    <a class="button button-clear ion-ios7-arrow-back" href="#/tab/sort"></a>
  </div>
  <h1 class="title">分类详情</h1>
</ion-header-bar>
<div class="bar bar-subheader">
	<ul class="subheader-nav">
        	<li class="activeli"><a >默认</a></li>
        	<li><a >新品</a></li>
        	<li><a >推荐</a></li>
        	<li><a >价格</a></li>
    </ul>
</div>
<ion-content class="has-subheader">
                <div class="listcontents" >
                	<ul id="">
                		<li><a href="#/production">
                			<img src="lib/img/cartprod.png">
                			<p>迷你胶囊咖啡机 ICUP 8899 红色 多余的标题文字</p>
                			<p class="graycolor">ICUP 8889  &nbsp; &nbsp; &nbsp;<span class="bluecolor">组合</span></p>
                			<p><span class="redcolor fontsize">￥ 2888.0</span> &nbsp; &nbsp; &nbsp; <span class="graycolor textoverline">￥ 2888.0</span></p></a>
                		</li>
                		<li>
                			<img src="lib/img/cartprod.png">
                			<p>迷你胶囊咖啡机 ICUP 8899 红色 多余的标题文字</p>
                			<p class="graycolor">ICUP 8889  &nbsp; &nbsp; &nbsp;<span class="yellowcolor">单品</span></p>
                			<p><span class="redcolor fontsize">￥ 2888.0</span> &nbsp; &nbsp; &nbsp; <span class="graycolor textoverline">￥ 2888.0</span></p>
                		</li>
                		 <li>
                			<img src="lib/img/cartprod.png">
                			<p>迷你胶囊咖啡机 ICUP 8899 红色 多余的标题文字</p>
                			<p class="graycolor">ICUP 8889  &nbsp; &nbsp; &nbsp;<span class="yellowcolor">单品</span></p>
                			<p><span class="redcolor fontsize">￥ 2888.0</span> &nbsp; &nbsp; &nbsp; <span class="graycolor textoverline">￥ 2888.0</span></p>
                		</li>
                		<li>
                			<img src="lib/img/cartprod.png">
                			<p>迷你胶囊咖啡机 ICUP 8899 红色 多余的标题文字</p>
                			<p class="graycolor">ICUP 8889  &nbsp; &nbsp; &nbsp;<span class="yellowcolor">单品</span></p>
                			<p><span class="redcolor fontsize">￥ 2888.0</span> &nbsp; &nbsp; &nbsp; <span class="graycolor textoverline">￥ 2888.0</span></p>
                		</li>
                	</ul>
                </div>
</ion-content>
</ion-view>