<ion-view >
<ion-header-bar align-title="left" class="bar-css">
  <div class="buttons">
    <button class="button button-clear ion-coffee" ng-click="doSomething()"></button>
  </div>
  <h1 class="title"><input class="bar-input" placeholder=" 查找感兴趣的商品"/></h1>
  <div class="buttons">
    <button class="button button-clear ion-ios7-search"></button>
  </div>
</ion-header-bar>
  <ion-content >
              		<div>
            			<ul>
            				<li class="sortli"><a href="#/tab/sortdetail">
            					<h1>自动咖啡机</h1>
            					<p>现磨咖啡机&nbsp;&nbsp;&nbsp; 快速咖啡机 &nbsp;&nbsp;&nbsp;多功能咖啡机</p></a>
            				</li>
            				<li class="sortli">
            					<h1>咖啡胶囊</h1>
            					<p>现磨咖啡机&nbsp;&nbsp;&nbsp; 快速咖啡机 &nbsp;&nbsp;&nbsp;多功能咖啡机</p>
            				</li>
            				<li class="sortli">
            					<h1>烘培食品</h1>
            					<p>现磨咖啡机&nbsp;&nbsp;&nbsp; 快速咖啡机 &nbsp;&nbsp;&nbsp;多功能咖啡机</p>
            				</li>
            				<li class="sortli">
            					<h1>西点</h1>
            					<p>现磨咖啡机&nbsp;&nbsp;&nbsp; 快速咖啡机 &nbsp;&nbsp;&nbsp;多功能咖啡机</p>
            				</li>
            				<li class="sortli">
            					<h1>其他</h1>
            					<p>现磨咖啡机&nbsp;&nbsp;&nbsp; 快速咖啡机 &nbsp;&nbsp;&nbsp;多功能咖啡机</p>
            				</li>
            			</ul>
            		</div>
  </ion-content>
</ion-view>